.bg-counter{
    background-color: rgb(52, 132, 163);
    text-align: center;
}

.counter {
background-color: rgb(43, 156, 196);
color: white;
margin: 25px;
padding: 25px;
font-size: 30px;
border-radius: 10px;
}