.bg-counter{
    background-color: rgb(51, 142, 179);
    text-align: center;
}

.counter {
background-color: rgb(37, 153, 196);
color: white;
margin: 25px;
padding: 25px;
font-size: 30px;
border-radius: 10px;
}